html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  letter-spacing: 0.6px;
  color: #242421;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 84px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #01353E;
}

.title::after {
  content: "/";
  position: absolute;
  top: 17px;
  font-size: 72px;
  color: #00B2A0;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  position: relative;
  padding-bottom: 4px;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.5s;
}

.menu__link:hover {
  border-bottom: 1px solid #00B2A0;
}

.header {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background-image: url("../images/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 47.6%;
  left: 0;
  background-image: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.header__inner {
  position: relative;
  min-height: 100vh;
  padding-top: 35px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  position: relative;
  align-self: stretch;
  margin-bottom: auto;
  padding-left: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 8px;
  width: 60px;
  height: 63px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__menu {
  padding-top: 17px;
  padding-right: 64px;
  padding-bottom: 17px;
}

.header__title {
  padding-top: 70px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #01353E;
}

.header__subtitle {
  margin-bottom: auto;
  padding-left: 16px;
  color: #000000;
}

.header__icon-box {
  padding-top: 142px;
  padding-left: 16px;
}

.about__inner {
  padding-top: 190px;
  padding-bottom: 152px;
  padding-left: 8px;
}

.about__title {
  margin-bottom: 67px;
}

.about__content {
  max-height: 473px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.about__text {
  flex: 0 0 90px;
  max-width: 481px;
  margin-right: 120px;
  margin-bottom: 28px;
}

.advantages {
  background-color: #f8f8f8;
}

.advantages__inner {
  padding-top: 200px;
  padding-bottom: 168px;
}

.advantages__title {
  margin-bottom: 70px;
  padding-left: 72px;
}

.advantages__items {
  margin-bottom: 103px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: 357px;
}

.advantages__item:not(:last-child) {
  margin-right: 3px;
}

.advantages__subject {
  position: relative;
  max-width: 220px;
  min-height: 58px;
  margin: 0 auto 10px;
  padding-left: 72px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__subject--residence {
  line-height: 56px;
}

.advantages__subject::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;
  width: 55px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__subject--residence::before{
  background-image: url("../images/icon-residence.svg");
}

.advantages__subject--flight::before{
  left: 26px;
  background-image: url("../images/icon-flight.svg");
}

.advantages__subject--training::before{
  left: 15px;
  background-image: url("../images/icon-training.svg");
}

.advantages__desc {
  padding-left: 8px;
}

.advantages__info {
  display: flex;
  justify-content: space-between;
}

.advantages__info-list {
  padding-left: 8px;
}

.advantages__info-item {
  position: relative;
  margin-bottom: 8px;
  padding-top: 6px;
  width: 350px;
}

.advantages__info-line {
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../images/line-progress.svg");
  background-repeat: no-repeat;
  background-size: 100% 15px;
}

.advantages__info-number {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
}

.advantages__info-text {
  display: block;
  line-height: 16px;
}

.advantages__text-box {
  flex-basis: 592px;
}

.advantages__text {
  margin-bottom: 30px;
}

.conquer {
  position: relative;
  background-image: url("../images/bg-conquer.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

.conquer__inner {
  max-width: 50.6%;
  padding-top: 200px;
  padding-bottom: 345px;
  padding-left: 8px;
  background-color: #ffffff;
}

.conquer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  background-color: #ffffff;
}

.conquer__title {
  margin-bottom: 70px;
  padding-left: 0;
  text-align: left;
}

.conquer__text {
  max-width: 510px;
  margin-bottom: 30px;
}

.conquer__text--nomargin {
  margin-bottom: 0;
}