html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  letter-spacing: 0.6px;
  color: #242421;
  background-color: #ffffff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px 0 23px;
}

.logo {
  border-radius: 70% 40% 70% 30%;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  outline: none;
  transition: border-bottom-color 0.3s, border-top-color 0.1s, transform 0.2s;
}

.logo:hover {
  border-bottom-color: #00B2A0;
}

.logo:focus {
  border-top-color: #00B2A0;
}

.logo:active {
  transform: scale(0.9);
}

.title {
  position: relative;
  max-width: 90%;
  margin: 0 auto 30px;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #01353E;
}

.title::after {
  content: "/";
  position: absolute;
  bottom: -29px;
  font-size: 72px;
  color: #00B2A0;
}

.button {
  max-width: 350px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  outline: 5px solid transparent;
  transition: outline-color 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #00B2A0;
  color: #ffffff;
}

.button:focus {
  outline-color: #00B2A0;
}

.button:active {
  transform: translateY(-3px);
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  position: relative;
  padding-bottom: 4px;
  white-space: nowrap;
  color: #ffffff;
  border-top: 3px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0 30% 0 0;
  outline: none;
  transition: border-top-color 0.3s, border-bottom-color 0.2s, text-shadow 0.1s;
}

.menu__link:hover {
  border-bottom-color: #00B2A0;
}

.menu__link:focus {
  border-top-color: #00B2A0;
}

.menu__link:active {
  text-shadow: 2px 2px 4px #000000, 0 0 2em #ffffff;
}

.statistics__item {
  position: relative;
  min-width: 270px;
  margin-right: 15px;
}

.statistics__item:not(:last-child) {
  margin-bottom: 8px;
}

.statistics__progress {
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../images/line-progress.svg");
  background-repeat: no-repeat;
  background-size: 100% 15px;
}

.statistics__number {
  position: relative;
  display: inline-block;
}

.statistics__text {
  display: block;
  line-height: 1.2;
}

.blockquote {
  position: relative;
  padding: 80px 15px;
  font: italic 400 36px/1.1 'Roboto Condensed', Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
}

.blockquote__author {
  position: absolute;
  left: calc(50% + 12em);
  bottom: 31.8%;
  font-size: 14px;
}

.indicators {
  max-width: 785px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.indicators__item {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  color: #01353E;
}

.indicators__text {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.7;
  color: #242121;
}

.title,
.header__title {
  line-height: 1.17;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-transform: uppercase;
}

.statistics__number,
.gallery__filter-btn,
.header,
.header__subtitle,
.advantages__subject,
.button {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 47.6%;
  left: 0;
  background-image: linear-gradient(180deg, #01353E 0%, #33333398 31.64%, #33333339 74.35%, #33333300 99.87%);
}

.header__inner {
  position: relative;
  height: 100vh;
  min-height: 600px;
  padding-top: 2.8%;
  padding-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  position: relative;
  align-self: stretch;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__menu {
  margin-right: 60px;
  padding-top: 19px;
  padding-bottom: 17px;
}

.header__title {
  margin-bottom: 6%;
  padding-left: 4%;
  font-weight: 700;
  font-size: 200px;
  color: #01353E;
}

.header__subtitle {
  position: relative;
  left: -3%;
  display: block;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-align: center;
  text-transform: none;
  color: #000000;
}

.header__icon {
  display: block;
  width: 26px;
  height: 75px;
  min-height: 75px;
  background-image: url("../images/click.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid transparent;
  border-radius: 50% 50% 45% 45%;
  outline: none;
  transition: transform 0.3s, border-color 0.3s;
}

.header__icon:hover {
  transform: rotate(45deg) translateX(5px) translateY(15px);
}

.header__icon:focus {
  border-color: #01353E;
}

.header__icon:active {
  transform: rotate(-25deg) translateX(5px) translateY(5px);
}

.about__inner {
  padding-top: 190px;
  padding-bottom: 182px;
}

.about__title {
  left: 16px;
  margin-bottom: 98px;
}

.about__content {
  margin-right: 9%;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 27px 120px;
}

.advantages {
  background-color: #f8f8f8;
}

.advantages__inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.advantages__title {
  margin-bottom: 98px;
  padding-left: 1%;
}

.advantages__list {
  margin-bottom: 103px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: 29.3%;
}

.advantages__item:not(:last-child) {
  margin-right: 15px;
}

.advantages__subject {
  position: relative;
  max-width: 212px;
  min-height: 58px;
  margin: 0 auto 10px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.advantages__subject::before {
  content: "";
  position: absolute;
  left: 0;
  width: 55px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__subject--residence::before {
  background-image: url("../images/icon-residence.svg");
}

.advantages__subject--flight::before {
  background-image: url("../images/icon-flight.svg");
}

.advantages__subject--training::before {
  background-image: url("../images/icon-training.svg");
}

.advantages__statistics {
  flex-grow: 1;
  max-width: 360px;
}

.advantages__info {
  display: flex;
  justify-content: space-between;
}

.advantages__text {
  flex-basis: 592px;
}

.advantages__text p:not(:last-child),
.conquer__text p:not(:last-child) {
  margin-bottom: 30px;
}

.conquer {
  position: relative;
}

.conquer__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 49.5%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.conquer__inner {
  max-width: 50%;
  padding-top: 200px;
  padding-bottom: 144px;
  background-color: #ffffff;
}

.conquer__title {
  margin-bottom: 102px;
  margin-left: 0;
  text-align: left;
}

.conquer__text p {
  max-width: 510px;
  margin-right: 15px;
}

.gallery__inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.gallery__title {
  margin-bottom: 208px;
}

.gallery__filter {
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
}

.gallery__filter-item:not(:last-child) {
  margin-right: 23px;
}

.gallery__filter-btn {
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: color 0.3s, outline-color 0.3s, transform 0.3s;
}

.mixitup-control-active,
.gallery__filter-btn:hover {
  color: #00B2A0;
}

.gallery__filter-btn:focus {
  outline-color: #00B2A0;
}

.gallery__filter-btn:active {
  transform: translateY(-3px);
}

.gallery__grid {
  margin-bottom: 50px;
  display: grid;
  grid-template: repeat(auto-fill, 280px) / 20.8% 24.1% 24.1% 20.8%;
  row-gap: 40px;
  column-gap: 3.6%;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__item:first-child,
.gallery__item:last-child {
  grid-column-end: span 2;
}

.gallery__item img {
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.gallery__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s;
}

.gallery__link:hover {
  background-color: #333333b3;
}

.gallery__link:focus {
  background-color: #00b2a0b3;
}

.gallery__link:active {
  background-color: #01333cb3;
}

.gallery__video {
  position: relative;
  height: 600px;
  margin-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__play {
  position: absolute;
  top: calc(50% - 44px);
  left: 48.2%;
  width: 0;
  height: 0;
  padding: 0;
  border-top: 44px solid transparent;
  border-right: 0;
  border-bottom: 44px solid transparent;
  border-left: 75px solid #373a39;
  background-color: transparent;
  outline-color: #ffffff;
  transition: border-left-color 0.3s;
}

.gallery__play:hover {
  border-left-color: #00B2A0;
}

.gallery__play:focus {
  border-left-color: #ffffff;
}

.gallery__play:active {
  border-left-color: #01353E;
}