/* reset style */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00b2a0;
}

/* main style */
body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.6px;
  color: #242421;
  background-color: #ffffff;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animation {
  border-top: 3px solid transparent;
  border-top-right-radius: 30%;
  outline: 0;
  transition:
    border-top-color 0.3s,
    border-bottom-color 0.3s,
    transform 0.2s,
    color 0.3s;
}

.animation:focus {
  border-top-color: #00b2a0;
}

.animation:hover {
  border-bottom-color: #00b2a0;
}

.animation:active {
  transform: scale(0.9);
}

.animation-img {
  position: relative;
  outline: 3px solid transparent;
  transition:
    color 0.2s,
    background-color 0.3s,
    transform 0.2s,
    outline-color 0.3s;
}

.animation-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition:
    background-color 0.3s,
    opacity 0.3s;
}

.animation-img:focus {
  outline-color: #00b2a0;
}

.animation-img:hover::before {
  opacity: 0.7;
  background-color: #333333;
}

.animation-img:active {
  transform: scale(0.95);
}

.logo {
  display: inline-block;
  border-radius: 70% 40% 70% 30%;
  border-bottom: 3px solid transparent;
}

.logo img {
  object-fit: contain;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  padding-bottom: 4px;
  display: block;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}

.nav__btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 46px;
  height: 44px;
  padding: 0;
  background-color: #01353e;
  border: 2px solid #ffffff;
  border-radius: 20%;
}

.nav__btn span {
  width: 30px;
  height: 4px;
  margin: 4px auto;
  display: block;
  background-color: #ffffff;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.title {
  position: relative;
  max-width: 90%;
  margin: 0 auto 98px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Raleway", "Verdana", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #01353e;
}

.title::after {
  content: "/";
  position: absolute;
  bottom: -29px;
  font-size: 72px;
  color: #00b2a0;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 14px;
}

.socials__link {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.socials__link:hover {
  color: #00b2a0;
}

.button {
  min-width: 350px;
  padding: 20px 40px;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
}

.button:hover::before {
  opacity: 0;
}

.button:hover {
  background-color: #00b2a0;
  color: #ffffff;
}

.header {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 47.6%;
  left: 0;
  background-image:
    linear-gradient(180deg,
      #01353e 0%,
      #33333398 31.64%,
      #33333339 74.35%,
      #33333300 99.87%);
}

.header__inner {
  position: relative;
  height: 100vh;
  min-height: 515px;
  padding-top: 2.7%;
  padding-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding: 17px 70px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__title {
  margin-bottom: 6%;
  font-weight: inherit;
  font-size: inherit;
  color: #000000;
  text-align: center;
}

.header__brand {
  display: block;
  font-weight: 700;
  font-size: 200px;
  line-height: 1.2;
  font-family: "Raleway", "Verdana", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #01353e;
}

.header__icon {
  width: 20px;
  height: 69px;
  min-height: 60px;
  background-image: url("../images/click.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s;
}

.header__icon:focus {
  outline-color: #ffffff;
}

.header__icon:hover {
  transform: scale(1.1);
}

.header__icon:active {
  transform: scale(0.9);
}

.about__inner {
  padding-top: 190px;
  padding-bottom: 182px;
}

.about__content {
  margin-right: 9%;
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-gap: 27px 12%;
}

.advantages {
  background-color: #f8f8f8;
}

.advantages__inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.advantages__list {
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: 29.3%;
}

.advantages__item:not(:last-child) {
  margin-right: 15px;
}

.advantages__subject {
  position: relative;
  max-width: 212px;
  min-height: 58px;
  margin: 0 auto 10px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.advantages__subject::before {
  content: "";
  position: absolute;
  left: 0;
  width: 55px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__subject--residence::before {
  background-image: url("../images/icon-residence.svg");
}

.advantages__subject--flight::before {
  background-image: url("../images/icon-flight.svg");
}

.advantages__subject--training::before {
  background-image: url("../images/icon-training.svg");
}

.advantages__statistics {
  flex-basis: 360px;
  max-width: 345px;
  margin-right: 15px;
}

.advantages__point:not(:last-child) {
  margin-bottom: 8px;
}

.advantages__progress {
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../images/line-progress.svg");
  background-repeat: no-repeat;
  background-size: 100% 15px;
}

.advantages__number {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.advantages__description {
  display: block;
  line-height: 1.2;
}

.advantages__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__text {
  flex-basis: 592px;
  max-width: 592px;
}

.advantages__text p:not(:last-child) {
  margin-bottom: 30px;
}

.conquer {
  position: relative;
}

.conquer__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.conquer__inner {
  max-width: 50%;
  padding-top: 200px;
  padding-bottom: 144px;
  background-color: #ffffff;
}

.conquer__title {
  margin-bottom: 100px;
  margin-left: 0;
  text-align: left;
}

.conquer__text p {
  max-width: 510px;
  margin-right: 15px;
}

.conquer__text p:not(:last-child) {
  margin-bottom: 30px;
}

.gallery {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.gallery__title {
  margin-bottom: 210px;
}

.gallery__filters {
  margin-bottom: 25px;
  display: flex;
}

.gallery__filter:not(:last-child) {
  margin-right: 23px;
}

.gallery__btn {
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: transparent;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.gallery__btn:hover,
.mixitup-control-active {
  color: #00b2a0;
  border-bottom-color: transparent;
}

.gallery__list {
  max-width: 1240px;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  padding: 20px;
}

.gallery__link {
  display: block;
  max-width: 580px;
  height: 280px;
}

.gallery__img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.blockquote {
  font-style: italic;
  font-weight: 400;
  background-color: #f8f8f8;
}

.blockquote__quote {
  max-width: 920px;
  margin: 0 auto;
  padding: 77px 20px 64px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.blockquote__author {
  display: block;
  font-size: 14px;
  line-height: 1.1;
  text-align: end;
}

.video {
  padding: 200px 0;
}

.video__play {
  position: relative;
  height: 600px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video__play::after {
  content: "";
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 26px);
  border-top: 44px solid transparent;
  border-bottom: 44px solid transparent;
  border-left: 74px solid #373a39;
  background-color: transparent;
  transition: border-left-color 0.3s;
}

.video__play:hover::after {
  border-left-color: #ffffff;
}

.indicators__list {
  max-width: 785px;
  margin: 0 auto 190px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.indicators__item {
  flex: 0 0 155px;
  line-height: 2.7;
}

.indicators__number {
  display: block;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  color: #01353e;
}

.blog {
  padding-bottom: 200px;
}

.blog__title {
  margin-bottom: 230px;
  padding-right: 15px;
  padding-left: 15px;
}

.blog__article {
  position: relative;
  color: #ffffff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog__article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(36, 33, 33, 0.5);
}

.blog__box {
  position: relative;
  height: 800px;
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog__content {
  max-width: 50%;
  max-height: 100%;
  overflow-y: auto;
}

.blog__content {
  padding-right: 5px;
}

.blog__caption {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

.blog__content p:not(:last-child) {
  margin-bottom: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots button {
  width: 15px;
  height: 15px;
  font-size: 0;
  line-height: 0;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  outline: 0;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.slick-dots button:focus {
  transform: scale(1.5);
}

.slick-dots button:hover {
  background-color: #00b2a0;
}

.slick-dots button:active {
  transform: scale(0.9);
}

.slick-active button {
  background-color: #00b2a0;
}

.team {
  padding-bottom: 168px;
}

.team__title {
  margin-bottom: 212px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.team__item {
  flex-basis: 32%;
  max-width: 330px;
  height: 545px;
}

.team__name {
  display: block;
  font-weight: 700;
  font-size: 18px;
}

.team__name img {
  margin-bottom: 20px;
  object-fit: contain;
  object-position: bottom;
}

.price {
  background-color: #f8f8f8;
}

.price__inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.price__title {
  margin-bottom: 212px;
}

.price__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price__item {
  flex-basis: 32%;
  max-width: 360px;
  padding: 47px 20px 47px 40px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-color: #ffffff;
}

.price__name {
  letter-spacing: normal;
}

.price__name,
.price__total {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #01353e;
}

.price__name,
.price__list {
  margin-bottom: 58px;
}

.price__list li:not(:last-child) {
  margin-bottom: 20px;
}

.price__total {
  margin-top: auto;
}

.price__total span {
  position: relative;
  bottom: 5px;
  left: 5px;
  font-size: 18px;
}

.location {
  max-width: 1500px;
  margin: auto;
  padding: 200px 15px;
}

.location img {
  width: 100%;
  height: 640px;
  margin: auto;
  object-fit: cover;
}

.contacts__title {
  margin-bottom: 232px;
}

.contacts__inner {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.contacts__form {
  flex: 0 1 570px;
  margin-right: 30px;
}

.contacts__input,
.contacts__textarea {
  width: 100%;
  padding-bottom: 17px;
  border: 0;
  border-bottom: 2px solid #dadada;
  transition: outline-color 0.3s;
}

.contacts__input:focus,
.contacts__textarea:focus {
  outline-color: #00b2a0;
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
  max-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #00b2a0;
}

.contacts__input:first-child {
  margin-bottom: 22px;
}

.contacts__input:nth-child(2) {
  margin-bottom: 50px;
}

.contacts__textarea {
  margin-bottom: 73px;
  height: 156px;
  resize: none;
}

.contacts__address {
  flex-basis: 600px;
  padding: 59px 52px;
  font-style: normal;
  background-color: #f8f8f8;
}

.contacts__list {
  max-width: 330px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 68px;
}

.contacts__address a {
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
  line-height: 1.3;
}

.contacts__address a:hover::before {
  opacity: 0;
}

.contacts__address a:hover {
  background-color: #00b2a0;
  color: #ffffff;
}

.contacts__socials {
  height: 419px;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 66px;
  display: flex;
  justify-content: center;
  background-color: #00b2a0;
}

.footer__logo:focus {
  border-top-color: #ffffff;
}

.footer__logo:hover {
  border-bottom-color: #ffffff;
}



@media (max-width: 1199px) {

  .title {
    margin-bottom: 80px;
    font-size: 44px;
  }

  .title::after {
    bottom: -27px;
    font-size: 66px;
  }

  .header__brand {
    font-size: 175px;
    line-height: 1;
  }

  .about__inner {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .about__content {
    margin-right: 0;
    grid-column-gap: 90px;
  }

  .advantages__inner {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .advantages__list {
    margin-bottom: 70px;
  }

  .conquer__inner {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .conquer__img {
    background-position-x: 90%;
  }

}

@media (max-width: 991px) {

  .header__menu {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    padding: 70px 20px 40px;
    justify-content: space-evenly;
    background-color: #01353e;
    box-shadow: 0 0 10px 20px #01353e;
    transition: transform 0.5s;
    transform: translateY(-200%);
  }

  .header__menu--active {
    transform: translateY(0);
  }

  .menu__link {
    padding: 8px;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__btn {
    position: fixed;
    z-index: 5;
    display: block;
  }

  .title {
    margin-bottom: 60px;
    font-size: 38px;
  }

  .title::after {
    bottom: -25px;
    font-size: 60px;
  }

  .header__inner,
  .header__nav {
    position: static;
  }

  .header__logo {
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 5;
    width: 46px;
    height: 44px;
    background-color: #01353e;
    border: 2px solid #ffffff;
    border-radius: 20%;
  }

  .header__logo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 3px;
  }

  .header__brand {
    font-size: 150px;
  }

  .header__title {
    font-size: 22px;
  }

  .about__inner {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about__content {
    grid-column-gap: 70px;
  }

  .advantages__inner {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages__list {
    justify-content: space-around;
  }

  .advantages__item {
    flex-basis: 38%;
  }

  .advantages__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .advantages__subject {
    font-size: 22px;
  }

  .advantages__number {
    font-size: 22px;
  }

  .conquer__inner {
    padding-top: 120px;
    padding-bottom: 120px;
  }

}

@media (max-width: 767px) {

  body {
    line-height: 1.5;
  }

  .header__menu {
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .title {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .title::after {
    bottom: -20px;
    font-size: 50px;
  }

  .advantages__point {
    margin-right: 0;
  }

  .header__brand {
    font-size: 130px;
  }

  .header__title {
    font-size: 20px;
  }

  .about__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about__content {
    grid-template: repeat(8, auto) / 1fr;
    grid-row-gap: 20px;
  }

  .advantages__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .advantages__list {
    margin-bottom: 55px;
  }

  .advantages__item {
    flex-basis: 43%;
  }

  .advantages__subject {
    font-size: 20px;
  }

  .advantages__info {
    display: block;
  }

  .advantages__statistics {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .advantages__number {
    font-size: 20px;
  }

  .advantages__text {
    margin-left: auto;
    text-align: right;
  }

  .advantages__text p:not(:last-child) {
    margin-bottom: 20px;
  }

  .conquer {
    background-color: #fffffff0;
  }

  .conquer__img {
    z-index: -1;
    width: 100%;
  }

  .conquer__inner {
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: transparent;
  }

  .conquer__title {
    margin-left: auto;
    text-align: center;
  }

  .conquer__text p {
    max-width: 100%;
    margin-right: 0;
  }

  .conquer__text p:not(:last-child) {
    margin-bottom: 20px;
  }

}

@media (max-width: 575px) {

  .title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .title::after {
    bottom: -15px;
    font-size: 40px;
  }

  .header__brand {
    font-size: 82px;
  }

  .header__title {
    max-width: 320px;
    font-size: 18px;
  }

  .about__inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .advantages__inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .advantages__list {
    margin-bottom: 40px;
  }

  .advantages__item {
    flex-basis: 80%;
  }

  .conquer__inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}